.container {
    height: calc(100vh - 5rem);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timerContainer {
    height: 50%;
    border: 2.5px solid var(--red);

    color: white;

    display: flex;
    align-items: center;

    margin-top: -5rem;
    padding: 1rem 4rem;
    border-radius: 1rem;

    transition: 200ms;
}

.timerContainer:hover {
    background: var(--red);
}

.timerContainer span {
    font-size: 10rem;
    font-weight: 700;
}

.time {
    margin-left: 2rem;
}

.time p {
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 1px solid var(--red);
}

.time p:first-child {
    margin-bottom: 2rem;
}

.time p:last-child {
    margin-top: 2rem;
}

.congratsMessage {
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 2rem;
}

.timerButton {
    cursor: pointer;
    margin-top: 2.5rem;
    font: 300 2rem Roboto, sans-serif;

    color: white;
    background: transparent;

    border: 1px solid var(--red);
    border-radius: 2rem;
    padding: 1rem 3rem;

    transition: 200ms;
}

.timerButton:hover {
    background: var(--red);
}